body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w100
{
  width: 100%;
}

.w50
{
  width: 50%;
}

.fleft
{
  float: left;
}

.fright
{
  float: right;
}

.mt10
{
  margin-top: 10px;
}

.mr10
{
  margin-right: 10px;
}


.select{
  padding: 9px;
    width: 51%;
    border-color: lightgray;
    border-radius: 5px;
}



.slerr{
  border-color: red;
}

.Txtfld
{
  FONT-FAMILY: revert;
    FONT-SIZE: larger;
}

.mt16{
margin-top: 16px;
}
.mr430
{
  margin-right: 430px;
}

.ml10
{
  margin-left: 10px;
}

.ml190
{
  margin-left: 190px;
}

.yellow
{
  background-color: #ffff66;
}

.red
{
  background-color: #ff6961;
}

table,th,td{
  border: 1px solid;
  border-collapse: collapse;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
}

table
{
  float: left;
  margin: 50px;
}